@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --accent: #8080FF;
    --accent-dark: #121216;
    --accent-light: #a8a8ff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: #191919;
    text-align: center;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
}

.line {
    background: linear-gradient(90deg, transparent, var(--accent), transparent);
    width: 100%;
    height: 3px;
}

button, input { font-family: "Inter", Arial, Helvetica, sans-serif; }
.subtle { font-size: 0.75em !important; }
a:hover { color: var(--accent-light); }
.accent { color: var(--accent); }
.italic { font-style: italic; }
input:focus { outline: none; }
button { cursor: pointer; }
.spacer { flex: 1; }