.box {
    top: 50%;
    left: 50%;
    gap: 10px;
    padding: 20px;
    display: flex;
    width: 90%;
    padding-top: 0;
    max-width: 320px;
    height: min-content;
    position: absolute;
    background: #131313;
    flex-direction: column;
    border: 1px solid #202020;
    transform: translate(-50%, -50%);
    box-shadow: #0000001f 0 0 20px;
}

.box h2 {
    margin-top: 12px;
    margin-bottom: 10px;
}

.box button {
    border: 1px solid var(--accent);
    transition: ease-out 0.2s;
    background: var(--accent);
    color: white;
    padding: 10px;
}

.box .field {
    border: solid 1px #161616;
    background: #0f0f0f;
    text-align: left;
    display: flex;
}

.box .field i {
    margin-right: 12px;
    margin-top: 10px;
    color: #c2c2c2;
}

.box input {
    width: calc(100% - 20px);
    background: none;
    color: white;
    padding: 10px;
    border: none;
}

.box p {
    margin: 0;
    margin-bottom: -8px;
}

.domain {
    transform: translate(-100%, -100%);
    left: calc(100% - 10px);
    top: calc(100% - 8px);
    position: absolute;
    color: #999;
    margin: 0;
}

.box button:hover { background: var(--accent-dark); }