body {
    flex-direction: column;
    display: flex;
}

#main {
    padding-bottom: 190px;
    padding-top: 190px;
    /*padding-bottom: 100px;*/
    /*padding-top: 75px;*/
    height: max-content;
    position: relative;
    user-select: none;
}

.buttons {
    justify-content: center;
    display: flex;
    gap: 4px;
}

#main img {
    pointer-events: none;
    position: relative;
    width: 125px;
    left: 0.5px;
}

#main h1 {
    position: relative;
    margin-top: -20px;
    font-weight: 600;
}

#main p {
    margin-bottom: 10px;
    /*margin-top: -18px;*/
    margin-top: 2px;
    margin-inline: 15px;
    color: #cacaca;
}

#main button {
    width: 100px;
    border: none;
    padding: 6px;
    color: white;
    background: #141414;
    transition: 0.2s ease-out;
    border: solid 1px #272727;
}

#main button:hover {
    background: #292929;
    border: solid 1px #474747;
}

#media {
    background: #141414;
    padding: 10px;
}

#media h2 { margin-bottom: 26px; }

#media .videos {
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    gap: 10px;
}

#media iframe { max-width: 90%; }

#testimonials {
    background: #111111;
    padding: 10px;
}

#testimonials h2 { margin-bottom: 26px; }

#testimonials .list {
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

#testimonials .list div {
    border: solid 1px #222222;
    background: #0f0f0f;
    text-align: left;
    padding: 20px;
}

#testimonials .list b {
    font-size: 1.2em;
}

#testimonials .list p {
    margin: 0;
}

#purchase {
    padding: 10px;
    padding-bottom: 25px;
    background: #0f0f0f;
}

#purchase .notice {
    margin-top: -20px;
    margin-bottom: 30px;
}

.purchase-options {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

.purchase-option {
    border: solid 1px #222222;
    background: #131313;
    padding-top: 0;
    height: 290px;
    width: 280px;
}

.purchase-option .content {
    flex-direction: column;
    display: flex;
    padding: 12px;
    height: 100%;
}

.purchase-option button {
    border: 1px solid var(--accent);
    background: var(--accent);
    transition: 0.1s ease-out;
    color: white;
    font-size: 1em;
    padding: 8px;
    width: 100%;
}


.purchase-option button:hover {
    background: var(--accent-dark);
}

.purchase-option h3 {
    margin: 10px;
}

.purchase-option h4 {
    font-weight: 500;
    color: #999;
    margin: -8px;
}

.purchase-option p {
    color: #777;
    font-size: 1em;
}

.payments {
    justify-content: center;
    margin-bottom: 15px;
    display: flex;
    height: 40px;
}

.payments img {
    margin-right: -5px;
    margin-left: -5px;
    height: 100%;
}

.bottom { transform: translateY(-30px); } /* idk man */

@media only screen and (max-width: 600px) {
    .purchase-options { flex-direction: column; }
    .purchase-option { width: 100%; }
}

@media only screen and (max-width: 700px) { #testimonials .list { flex-direction: column; } }
@media only screen and (max-width: 950px) { .videos { flex-direction: column; } }